<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>

    <div>
      <input type="text" v-model="newTodoText" @keyup.enter="createTodo" placeholder="Inserisci un nuovo todo">
      <button @click="createTodo" >Aggiungi</button>
    </div>
    <ul>
      <li v-for="(todo, index) in todos" :key="index">
        <span :style='{ "text-decoration": todo.done ? "line-through" : "none"}' @click="updateTodo(index)">
          {{ todo.text }}
        </span>
        <button @click="deleteTodo(index)">x</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/js/script.js"></script>
</body>
</html>